*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


html,body{
height: 100%;
width: 100%;
background-color: #111;
color: white;
}

h1{
    padding: 20px;
    font-size: 60px;
}

button{
    margin: 20px;
    padding: 10px 30px;
    color: WHITE;
    background-color:  crimson;

}