* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    width: 600px;
    background: white;
    padding: 50px;
    border-radius: 30px;
}

.card p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.outer {
    height: 20px;
    width: 100%;
    background-color: rgb(230, 227, 223);
    border-radius: 50px;
}

.inner {
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;

}

.lower {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower h1{
    font-size: 40px;
    font-weight: 400;
}


button {
    margin: 20px;
    padding: 20px 40px;
    color: WHITE;
    background-color: green;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    z-index: 10;

}

button:active {
    scale: .95;
}