*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


html,body{
height: 100%;
width: 100%;
background-color: #111;
color: white;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
     background-color: crimson;
     padding: 80px 130px;
     border-radius: 20px;
     border: 2px solid whitesmoke;
}

button{
    margin: 20px;
    padding: 20px 40px;
    color: WHITE;
    background-color:  rgb(232, 31, 71);
    font-weight: 900;
    border-radius: 10px;
    border:none;

}

button:active{
    scale: .90;
}