*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


html,body{
height: 100%;
width: 100%;
background-color: #111;
color: white;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
    height: 400px;
    width: 400px;
    background-color: crimson;
    border-radius: 20px;
    margin: 50px;
    border: 5px solid white;
}

button{
    margin: 20px;
    padding: 20px 40px;
    color: WHITE;
    background-color:  rgb(232, 31, 71);
    font-weight: 900;

}

button:active{
    scale: .90;
}